<html>
	<head>
		<title> Schedule </title>
	</head>
	
	<body>
		<h1>{{name}}'s Schedule</h1>
		<form action = "/addSubject" method = "post">
			<input type = "submit" value = "Add Subject">
		</form>
		{% if subjects.get %}
		<form id = "delete" action = "/subjectDeleted" method = "post">
			<input type = "submit" value = "Remove Subject">
		</form>
		{% endif %}
		<form action = "/viewStudent" method = "post">
			<input type = "submit" value = "View Student">
		</form>
		{% if subjects.get %}
		<table border='1'>
		<tr>
			<td><strong>Code</strong></td>
			<td><strong>Subject</strong></td>
			<td><strong>Days</strong></td>
			<td><strong>Time</strong></td>
			<td><strong>Pre-requisites</strong></td>
			<td><strong>Credit Hours</strong></td>
			<td><strong>Instructor</strong></td>
		</tr>
		{% for s in subjects %}
		<tr>
			<td><input type="radio" form="delete" name='subject' value="{{s.getKey}}">{{s.course.code}}</td>
			<td>{{s.course.name}}</td>
			<td>{{s.course.days}}</td>
			<td>{{s.course.time}}</td>
			<td>{% if s.course.pre %}{{s.course.pre}}{% else %} None{% endif %}</td>
			<td>{{s.course.credits}}</td>
			<td>{{s.course.instructor}}</td>
		</tr>
		{% endfor %}
		</table><br>
		<h3>Student is registered for {{student.creditscount}} credit hours</h3><br>
		{% else %}
		<p style='color : red'> Student did not register for courses yet<p>
		{% endif %}
		<br>
		<form action = "/" method = "post">
			<input type = "submit" value = "Log Out">
		</form>
	</body>
</html>


			
