<html>
<head>
	<title> Admin Panel </title>
</head>

<body>
	<h3>Course Information: </h3>
	<table border='1'>
		<tr>
			<td><strong>Code</strong></td>
			<td><strong>Subject</strong></td>
			<td><strong>Days</strong></td>
			<td><strong>Time</strong></td>
			<td><strong>Instructor</strong></td>
		</tr>
		<tr>
			<td>{{course.code}}</td>
			<td>{{course.name}}</td>
			<td>{{course.days}}</td>
			<td>{{course.time}}</td>
			<td>{{course.instructor}}</td>
		</tr>
	</table>
		
	{% if students.get %}
	<h3>Students taking this course: </h3>	
	<table border='1'>
		<tr>
			<td><strong>ID</strong></td>
			<td><strong>Name</strong></td>
			<td><strong>Email</strong></td>
			<td><strong>Phone #</strong></td>
			<td><strong>Major</strong></td>
		</tr>
		{% for s in students %}
		<tr>
			<td>{{s.student.ID}}</td>
			<td>{{s.student.name}}</td>
			<td>{{s.student.email}}</td>
			<td>{{s.student.phone}}</td>
			<td>{{s.student.major}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p style='color : red'> There are no students registered for this course<p>
	{% endif %}
	<br><br>
	<form action = "/adminPage" method = "post">
		<input type = "submit" value = "back">
	</form>
</body>
</html>